body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f1fa;
    color: #222;
}


/* Header */

header {
    background-color: #63358a;
    color: white;
    text-align: center;
    padding: 35px;
}

header h1 {
    margin-bottom: 5px;
}

header p {
    margin-top: 5px;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


/* Main page */

main {
    width: 85%;
    max-width: 1000px;
    margin: auto;
}

section {
    background-color: white;
    margin: 30px 0;
    padding: 30px;
    border-radius: 10px;
}

h2 {
    color: #63358a;
}


/* About Me */

#about {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;

    border-radius: 50%;
    border: 5px solid #8d62ad;
}

.about-text {
    flex: 1;
}

.linkedin-button {
    display: inline-block;

    background-color: #63358a;
    color: white;

    padding: 10px 18px;

    text-decoration: none;

    border-radius: 5px;

    margin-top: 10px;
}

.linkedin-button:hover {
    background-color: #8051a3;
}
.Github-button {
    display: inline-block;

    background-color: #63358a;
    color: white;

    padding: 10px 18px;

    text-decoration: none;

    border-radius: 5px;

    margin-top: 10px;
}

.Github-button:hover {
    background-color: #8051a3;
}


/* Projects */

.projects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    flex: 1;
    min-width: 240px;

    border: 2px solid #ddd;

    padding: 15px;

    border-radius: 8px;

    text-align: center;
}

.project-card img {
    width: 100%;
    height: 180px;

    object-fit: cover;

    border-radius: 5px;
}

.project-card h3 {
    color: #63358a;
}


/* Careers */

#careers li {
    margin: 10px 0;
}


/* JavaScript Button */

button {
    background-color: #63358a;
    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    cursor: pointer;
}

button:hover {
    background-color: #8051a3;
}


/* Footer */

footer {
    background-color: #3e2057;
    color: white;

    text-align: center;

    padding: 20px;
}


/* Mobile */

@media (max-width: 700px) {

    #about {
        flex-direction: column;
        text-align: center;
    }

    .projects {
        flex-direction: column;
    }

    main {
        width: 92%;
    }

}
