body {
    font-family: Arial;
    background-color: #f4f0f8;
    margin: 0;
}

header {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    margin: 10px;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
}

h2 {
    color: purple;
}

#about {
    text-align: center;
}

.profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.linkedin-button,
.github-button {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
}

.linkedin-button {
    background-color: purple;
}

.github-button {
    background-color: black;
}

.projects {
    display: flex;
    gap: 10px;
}

.project-card {
    width: 30%;
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

.project-card img {
    width: 100%;
}

button {
    background-color: purple;
    color: white;
    padding: 10px;
    border: none;
}

footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 15px;
}
